<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="mobaxterm.fireeye"/>
	<package id="nmap.fireeye"/>
	<package id="firefox.fireeye"/>
	<package id="zap.fireeye"/>
	<package id="vlc.fireeye"/>
	<package id="wireshark.fireeye"/>
	<package id="SublimeText3.fireeye"/>
	<package id="winscp.fireeye"/>
	<package id="burp.free.fireeye"/>
	<package id="git"/>
	<package id="greenshot"/>
	<package id="python2"/>
	<package id="python3"/>
	<package id="golang"/>
	<package id="putty.fireeye"/>	
	<package id="gowitness.fireeye"/>
</packages>
